<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kic.mapper.itemMapper">
	<insert id="insertItem">
		insert into item (itemid, itemcategory, itemname, itemimg, price, stored) values
		(#{itemid}, #{itemcategory}, #{itemname}, #{itemimg}, #{price}, #{stored})
	</insert>
	
	<select id="selectAllFoodItem" resultType="com.kic.shopPro.domain.ItemVO">
		select * from item where itemcategory = "식품"
	</select>
	
	<select id="selectAllItem" resultType="com.kic.shopPro.domain.ItemVO">
		<![CDATA[ select * from item ]]>
	</select>
	
	<select id="selectFoodItemsDetailInfoById" resultType="com.kic.shopPro.domain.ItemDetailVO">
		<![CDATA[ select * from detailtable where itemid=#{itemid} ]]>
	</select>
	
	<select id="selectFoodItemByID" resultType="com.kic.shopPro.domain.ItemVO">
		<![CDATA[ select * from item where itemid=#{itemid} ]]>
		
		
	</select>
	<select id="selectAllClothItem" resultType="com.kic.shopPro.domain.ItemVO">
		select * from item where itemcategory = "패션의류/잡화"
	</select>
</mapper>