<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kic.mapper.registMember">
	<insert id="insertMember">
		insert into member (id, pass, address) values
		(#{id}, #{pass}, #{address})
	</insert>
	
	
</mapper>