@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

#https:\/\/aboooks.tistory.com\/256
hr.one {
	width: 1290px;
	border: thin solid black;
}

 #https:\/\/chamggae.tistory.com\/80
table {
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #444444;
	padding: 10px;
}

td {
	border-bottom: 1px solid #efefef;
	padding: 10px;
}